<html>
<head>NFL DRAFT 20XX</head>
<title>{{title}}</title>
<body style="background-color:rgb(45, 114, 66)">
{% block body_content%}

<div class='form'>
    
    <h2>You are a NFL General Manager, you are in charge of 
        your teams next pick in the NFL Draft. 
    </h2>
    <form method = 'POST' action="">
        {{ form.hidden_tag() }}
        <div class = "submitform">
            {{form.submit}}
        </div>
    </form>
</div>
{% if info %}
You had selected a:
{{info["position"]}} in 
Round {{info["draft_round"]}}, 
Pick {{info["round_pick"]}} 
({{info["draft_number"]}} Overall)


{% for picks in last_picks %}

<p>A {{picks.position}} was selected
{{picks.pick}} overall</p>

{% endfor %}

{% endif %}

{% endblock %}
</body>


</html>